.header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 2em;
    background-color: navy;
    color: #fff;
    text-align: center;
  }

  .foot{
    text-align: center;
    font-size: 12;
}

main.article.h2{
  text-align: center;
}